@using Stupify.Model;

<h1>Песни</h1>

<table>
    <tr>
        <td>Исполнитель</td>
        <td>Песня</td>
        <td></td>
    </tr>
    @foreach (Song song in ViewBag.Songs)
    {
        <tr>
            <td>@song.Artist</td>
            <td>@song.Name</td>
            <td>
                <audio controls="" name="media">
                    <source src="@song.Address" type="audio/mpeg">
                </audio>
            </td>
        </tr>
    }

</table>